body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

header {
  color: rgb(253, 182, 48);
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/
a {
  color: red;
}
a, a:link, a:active {
  text-decoration: none;
  color: red;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
